
.comet_text {
    width: 58%;
}

.comet_img {
    width: 35%;
}

.comet_img img {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .comet_text,
    .comet_img {
        width: 100%;
    }

}