
.galaxy_block_text {
    width: 59%;
    margin-bottom: 8px;
}

.galaxy_block_img {
    width: 38%;
}

.galaxy_block_img img {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .galaxy_block_text,
    .galaxy_block_img,
    .star_text {
        width: 100%;
    }
}

