

.preview {
    background-image: url("/src/images/mainpage/preview.jpg");
    max-width: 100%;
}

.preview_wrapper {
    padding: 3.5% 0 6% 13%;
}

.preview_text {
    width: 39%;
}

.preview_header {
    font-size: 96px;
    color: #D2A353;
    font-family: 'Righteous', cursive;
    margin-bottom: 28px;
}

.content_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    border-radius: 5px;
    width: 29.5%;
    margin: 2% 0.93%;
}

.card img {
    width: 100%;
}

.card_header {
    font-weight: 700;
    color: #D2A353;
}

@media screen and (max-width: 800px) {
    .preview_header {
        margin-bottom: 38px;
        font-size: 62px;
    }
}

@media screen and (min-width: 800px) {
    .preview_header {
        margin-bottom: 38px;
        font-size: 80px;
    }
}

@media screen and (min-width: 1200px) {
    .preview_header {
        margin-bottom: 38px;
        font-size: 96px;
    }
    .preview_text {
        max-width: 610px;
    }
    .card_header {
        margin: 11px 0;
    }
}

@media screen and (min-width: 1900px) {
    .preview_header {
        margin-bottom: 51px;
        font-size: 128px;
    }
    .preview_text {
        max-width: 760px;
        font-size: 24px
    }
    .card_header {
        margin: 16px 0;
    }
}

