
.preview {
    background-image: url("/src/images/mainpage/preview.jpg");
    max-width: 100%;
}

.preview_wrapper {
    padding: 3.5% 0 6% 13%;
}

.preview_text {
    width: 39%;
}

.preview_header {
    font-size: 96px;
    color: #D2A353;
    font-family: 'Righteous', cursive;
    margin-bottom: 28px;
}

.content_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.invisible_link:active,
.invisible_link:hover,
.invisible_link {
    text-decoration: none;
    color: #D2BB95;
}

.card {
    border-radius: 5px;
    width: 29.5%;
    margin: 2% 0.93%;
    transition: all 0.18s;
}

.card:hover {
    box-shadow: 1px 7px 5px 7px rgba(10, 4, 7, 0.5);
    margin-top: 1%;
    margin-bottom: 3%;
}

.card_text_wrapper {
    padding: 0 3px 6px 3px;
}

.card img {
    width: 100%;
}

.card_header {
    font-weight: 700;
    color: #D2A353;
}

@media screen and (max-width: 800px) {
    .preview_header {
        margin-bottom: 12px;
        text-align: center;
        font-size: 48px;
    }
    .preview_text {
        width: 98%;
        text-align: center;
        font-size: 16px;
    }
    .preview_wrapper {
        padding: 2% 4%;
        min-height: 300px;
    }
    .content_cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 90%;
        margin-bottom: 4%;
    }
}

@media screen and (min-width: 801px) {
    .menu_content {
        display: none;
    }
    .preview_header {
        margin-bottom: 18px;
        font-size: 80px;
    }
    .preview_text {
        width: 65%;
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .preview_header {
        margin-bottom: 38px;
        font-size: 96px;
    }
    .preview_text {
        max-width: 610px;
    }
    .card_header {
        margin: 11px 0;
    }
    .card {
        font-size: 20px;
    }
}

@media screen and (min-width: 1900px) {
    .preview_header {
        margin-bottom: 51px;
        font-size: 128px;
    }
    .preview_text {
        max-width: 760px;
        font-size: 24px
    }
    .card_header {
        margin: 16px 0;
    }
    .card {
        font-size: 24px;
    }
}

