* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

body {
    background-color: #060C11;
    color: #D2BB95;
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 65px;
}

.header_inside {
    padding: 4px 38px;
}

.logo_image {
    max-width: 136px;
    height: auto;
    margin-bottom: 8px;
}

.header_line hr {
    border: none;
    color: #519BCF;
    background-color: #519BCF;
    height: 1px;
}

.content {
    margin-top: 0px;
    min-height: 917px;
}


.footer_inside {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 48px 0px 30px 35px;
}

.footer_line hr {
    border: none;
    color: #D2BB95;
    background-color: #D2BB95;
    height: 1px;
}

.footer_inside_usefull_links {
    color: #519BCF;
    margin-right: 89px;
}

.footer_useful_link {
    margin-bottom: 17px;
}

@media screen and (min-height: 1200px) {

}

@media screen and (min-width: 1900px) {
    .header {
        height: 84px;
    }
    .logo_image {
        min-width: 173px;
    }

}