
.asteroid_text {
    width: 63%;
}

.asteroid_img {
    width: 30%;
}

.asteroid_classification_img {
    width: 25%;
    margin-left: 5%;
}

.asteroid_classification_text {
    width: 58%;
}

.meteor_text {
    width: 46%;
}

.meteor_img {
    width: 50%;
}

.asteroid_img img,
.asteroid_classification_img img,
.meteor_img img
{
    width: 100%;
}



@media screen and (max-width: 800px) {
    .meteor_text,
    .asteroid_text,
    .asteroid_img,
    .asteroid_classification_img,
    .asteroid_classification_text,
    .meteor_img
    {
        width: 100%;
        margin-bottom: 4px;
    }
}