
.content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu {
    width: 20%;
}

.content_block_inside hr {
    margin-top: 13px;
    color: #D2BB95;
    border: none;
    background-color: #D2BB95;
    height: 1px;
    width: 100%;
}

.table_of_content {
    color: #519BCF;
    margin: 14px 9px;
    font-size: 1.25em;
}

.table_of_content ul{
    color: #93B6CF;
    font-size: 0.8em;
}

.table_of_content a:active,
.table_of_content a{
    text-decoration: none;
    color: #93B6CF;
}

.table_of_content a:hover {
    color: #519BCF;
}


.menu_chapter_link {
    color: #D2A353;
    display: block;
    text-decoration: none;
}

.menu_page_link {
    color: #93B6CF;
    margin: 10px 0 10px 30px;
    display: block;
    text-decoration: none;
}

.bread_crump_link:active,
.bread_crump_link:hover,
.bread_crump_link {
    text-decoration: none;
    color: #D2A353;
}

.page_title {
    color: #93B6CF;
}

.content_block_chapters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_block_chapter_wrapper {
    width: 48%;
    margin-top: 5.5%;
}

.content_block_chapter {
    margin-bottom: 43px;
    height: 120px;
    color: #93B6CF;
}

.content_block_chapter a {
    color: #93B6CF;
    text-decoration: none;
}
.content_block_chapter a:hover {
    text-decoration: underline;
    color: #519BCF;
}

.content_block_chapter_header {
    margin: 9px 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 24px;
}

.content_block_chapter_header img {
    width: 13.5%;
    height: 13.5%;
    margin-right: 2%;
}


.text_header {
    font-size: 24px;
    color: #D2A353;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 28px;
}

.flex_row_around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex_row_left {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.flex_row_right {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.text_with_justify_indent {
    text-indent: 35px;
    text-align: justify;
}

.mb_28_36 {
    margin-bottom: 28px;
}

.mt_28_36 {
    margin-top: 28px;
}

.ml_28 {
    margin-left: 28px;
}

.br_3px {
    border-radius: 3px;
}

.img_wrapper img {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .content_wrapper {
        padding: 8px;
    }
    .menu {
        display: none;
    }
    .content_flex {
        flex-direction: column-reverse;
        align-items: center;
    }
    .column_flex {
        flex-direction: column;
        align-items: center;
    }
    .table_of_content {
        width: 100%;
        margin: 0;
    }
    .content_block_inside {
        width: 100%;
    }
    .content_block_inside_main {
        padding: 0;
    }
    .bread_crumps {
        font-size: 12px;
    }
    .page_title {
        font-size: 18px;
    }
    .content_block_chapters {
        flex-direction: column;
        align-items: center;
    }
    .content_block_chapter {
        margin-bottom: 8px;
    }

    .content_block_chapter_wrapper {
        width: 98%;
        margin-top: 0px;
    }
}

@media screen and (min-width: 801px) {
    .content_wrapper {
        padding: 16px;
        margin-right: 23px;
    }
    .menu_chapter_link {
        font-size: 16px;
        margin-top: 12px;
    }
    .menu_page_link {
        font-size: 14px;
    }
    .table_of_content {
        width: 23%;
    }
    .content_block {
        width: 75%;
    }
    .content_block_inside {
        width: 73%;
    }
    .page_title {
        font-size: 24px;
    }
    .bread_crumps {
        margin-bottom: 24px;
    }
    .content_block_chapter_header {
        font-size: 24px;
    }
    .content_block_inside_main {
        padding: 0 25px;
    }
}

@media screen and (min-width: 1200px) {
    .menu_page_link {
        font-size: 18px;
    }
    .menu_chapter_link {
        font-size: 20px;
        margin-top: 16px;
    }
    .bread_crumps {
        margin-bottom: 28px;
    }
    .page_title {
        font-size: 26px;
    }
}

@media screen and (min-width: 1900px) {
    .menu_page_link {
        font-size: 20px;
    }
    .menu_chapter_link {
        font-size: 24px;
        margin-top: 16px;
    }
    .bread_crumps {
        margin-bottom: 37px;
    }
    .page_title {
        font-size: 32px;
    }
    .text_header {
        margin-top: 36px;
    }
    .mb_28_36 {
        margin-bottom: 36px;
    }
    .mt_28_36 {
        margin-top: 36px;
    }
}