@import "content.css";

.bread_crump_link:active,
.bread_crump_link:hover,
.bread_crump_link {
    text-decoration: none;
    color: #D2A353;
}

.page_title {
    color: #93B6CF;
}

.text_header {
    font-size: 24px;
    color: #D2A353;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 28px;
}

.flex_row_around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex_row_left {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.flex_row_right {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.text_with_justify_indent {
    text-indent: 12px;
    text-align: justify;
}

.mb_28_36 {
    margin-bottom: 28px;
}

.mt_28_36 {
    margin-top: 28px;
}

.ml_28 {
    margin-left: 28px;
}

.br_3px {
    border-radius: 3px;
}

@media screen and (max-width: 800px) {
    .column_flex {
        flex-direction: column;
        align-items: center;
    }
    .column_flex_reverse {
        flex-direction: column-reverse;
        align-items: center;
    }
    .bread_crumbs {
        font-size: 12px;
    }
    .page_title {
        font-size: 18px;
    }
    .mb_28_36 {
        margin-bottom: 12px;
    }
    .mt_28_36 {
        margin-top: 12px;
    }
    .text_header {
        margin-top: 12px;
    }
}

@media screen and (min-width: 801px) {
    .page_title {
        font-size: 24px;
    }
    .bread_crumbs {
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .menu_chapter_link {
        font-size: 20px;
        margin-top: 16px;
    }
    .bread_crumbs {
        margin-bottom: 16px;
    }
    .page_title {
        font-size: 26px;
    }
}

@media screen and (min-width: 1900px) {
    .bread_crumbs {
        margin-bottom: 28px;
    }
    .page_title {
        font-size: 32px;
    }
    .text_header {
        margin-top: 36px;
    }
    .mb_28_36 {
        margin-bottom: 36px;
    }
    .mt_28_36 {
        margin-top: 36px;
    }
}