.half_width_block {
    width: 48%;
}

.star_block {
    width: 32%;
}

.star_text {
    width: 67%;
    margin-bottom: 8px;
}

.star_img {
    width: 32%;
}

.star_block img,
.half_width_block img,
.star_img img {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .star_block,
    .star_text,
    .star_img,
    .half_width_block
    {
        width: 100%;
    }

    .star_block_wrapper,
    .star_block {
        margin: 4px 0;
    }
}

@media screen and (min-width: 801px) {
    .star_block_wrapper {
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 1900px) {
    .star_block_wrapper {
        margin-bottom: 24px;
    }
}