.half_width_block {
    width: 48%;
}

.star_img {
    width: 30%;
}

.star_text {
    width: 66%;
}

.star_text {
    margin-bottom: 8px;
}

.half_width_block img,
.star_img img {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .half_width_block,
    .star_img,
    .star_text
    {
        width: 100%;
    }

}