.half_width_block {
    width: 48%;
}

.half_width_block img   {
    width: 100%;
}

.star_img {
    width: 30%;
}

.star_img img {
    width: 100%;
}

.star_text {
    width: 66%;
}

.star_text {
    margin-bottom: 8px;
}

@media screen and (max-width: 800px) {
    .half_width_block {
        width: 100%;
    }
    .star_img {
        width: 100%;
    }

    .star_text {
        width: 100%;
    }
}