

.general_info_img {
    width: 28%;
    margin: 0 0 1% 5%;
    float: right;
}

.general_info_img img {
    width: 100%;
}

.sun_numbers_img {
    width: 33%;
}

.sun_numbers_img img {
    width: 100%;
}

.sun_numbers_text {
    width: 50%;
    margin-left: 42px;
}